* {
    font-size: 18px;
}

.heading {
    margin: 30px;
    font-weight: 700;
    /* color: #125a74; */
}

.newroom {
    margin: 30px;
}

table {
    width: auto;
    border-collapse: collapse;
    border-color: darkgray;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 20px;
    overflow: hidden;
}

th,
td {
    border: 1px solid darkgray;
    padding: 10px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    width: 10%;
}

th {
    background-color: #173e43;
    border-color: darkgray;
    color: #fff;
    font-size: larger;
    font-weight: 400;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}