ul{
    font-size: 1.2rem;
    font-weight: bold;
    color: blueviolet;
}
.logo-content{
    display: flex;
    gap: 2px;
    align-items: center;
    
}
.logo-content h5{
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(143, 125, 179);
}




